In [41]:
## Import Pandas
import pandas as pd

Slide 6

In [43]:
# setup a one dimensional array-like object
# The word Series must start with a capital letter otherwise you get a syntax error


myseries = pd.Series([439, 98.54, 'Hello World', 'Sea Breeze', -342])
mylist = [439, 98.54, 'Hello World', 'Sea Breeze', -342]

# print the data in series
print(myseries)
print(mylist)

# when the data is printed what do you notice?

0            439
1          98.54
2    Hello World
3     Sea Breeze
4           -342
dtype: object
[439, 98.54, 'Hello World', 'Sea Breeze', -342]

Slide 8

In [48]:
#create data

inventory = {"Code": [475984412, 475871129, 476214584, 475854812],
            "Produce": ["Avocado", "Banana", "Courgette", "Cauliflower"],
            "Origin": ["Mexico", "Costa Rica", "France", "UK"],
            "Price": [1.75, 0.73, 2.00, 1.80]}



print(inventory)
# create variable

myframe = pd.DataFrame(inventory)
#Remember the capitals both D & F

# print variable
print(myframe)

{'Code': [475984412, 475871129, 476214584, 475854812], 'Produce': ['Avocado', 'Banana', 'Courgette', 'Cauliflower'], 'Origin': ['Mexico', 'Costa Rica', 'France', 'UK'], 'Price': [1.75, 0.73, 2.0, 1.8]}
        Code      Produce      Origin  Price
0  475984412      Avocado      Mexico   1.75
1  475871129       Banana  Costa Rica   0.73
2  476214584    Courgette      France   2.00
3  475854812  Cauliflower          UK   1.80

Slide 9

In [49]:
## create index
myframe.index = ["AV", "BN", "CG", "CF"]
## When creating an index, be aware that the index values need to be unique

print(myframe)

         Code      Produce      Origin  Price
AV  475984412      Avocado      Mexico   1.75
BN  475871129       Banana  Costa Rica   0.73
CG  476214584    Courgette      France   2.00
CF  475854812  Cauliflower          UK   1.80

Slide 10 + 11

In [50]:
##read the csv file using pd.read_csv
vetdata = pd.read_csv("vet_data.csv")
#Ensure that your csv file in within the same folder as your python file
print(vetdata)

   Owner_Surname  Pet_Name  Pet_Age  Last_Visit      Type Chipped Unnamed: 6
0          Adams    Fluffy        2  11/05/2020       Cat     Yes
1          Smith      Zuko        8  30/01/2019       Dog     Yes        NaN
2      Radcliffe      Nala        4  24/11/2019       Dog     Yes        NaN
3        Holland  Mr Chips       10  15/06/2019       Dog      No        NaN
4         Potter     Daisy        9  07/04/2020    Rabbit     Yes        NaN
5         Sorola     Oscar        1  27/02/2020   Hamster      No        NaN
6           Pike     Pepsi        6  18/09/2019       Cat     Yes        NaN
7         Murray    George       17  12/02/2020  Tortoise      No        NaN
8          Aston     Monty        3  09/03/2020       Dog     Yes        NaN
9         Waller       Flo        7  06/05/2019       Cat     Yes        NaN
10   De la Force     Anton        2  31/08/2019       Cat      No        NaN
11          Reed     Farah        5  02/03/2020     Horse      No        NaN
12      Martinez     Homer        6  24/11/2019       Dog     Yes        NaN
13            Li      Iggy        5  14/12/2019       Dog     Yes        NaN
14     Rodriquez     Bobby        3  28/02/2020    Rabbit      No        NaN

In [ ]:
#print columns
print(vetdata["Pet_Age"])

In [ ]:
print(vetdata["Pet_Name"])

In [ ]:
##retrieving multiple columns as dataframe
print(vetdata[["Type", "Pet_Age", "Chipped"]])

In [ ]:
#delet
vetdata.drop([6])

In [ ]:
print(vetdata)

Slide 12

In [ ]:
## Print the first 4 observations (rows)
vetdata[0:4]

In [ ]:
vetdata[8:12]

Slide 13 + 14

In [ ]:
vetdata.iloc[[0]]

In [ ]:
## read the csv file using pd.read_csv
vetdata2 = pd.read_csv("vet_data.csv", index_col="Owner_Surname")

## Print out observations for Smith and Sorola
print(vetdata2.loc[["Smith", "Sorola"]])

# print(vetdata.iloc[[6,8]])

In [ ]:
#retrieve data bases on index
vetdata.loc[vetdata.Pet_Name == "Monty"]

In [ ]:
vetdata.loc[vetdata.Chipped == "Yes"]

In [ ]:
#retirve 8th row and 5th column
data = pd.read_csv("vet_data.csv")
print(data.iloc[7,4])

In [ ]:
#retrieve a range
data = pd.read_csv("vet_data.csv")
print(data.iloc[3:7,2:4])

In [ ]:
vetdata2